*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body{
  height: 100vh;
  background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
}

.start-display,
.score-container
{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: absolute;
top: 0;
width: 100%;
height: 100%;
}

.btn{
  outline: none;
  cursor: pointer;
  border: none;
}

#start-btn,
#restart-btn
{
color: white;
border-radius: 15px; 
padding: 8px 28px;  
font-size: 21px;
background: rgb(86,86,86);
background: 
linear-gradient
(90deg, rgba(86,86,86,0.9528405112044818) 0%,
rgba(40,40,39,1) 35%,
rgba(35,35,35,0.7175463935574229)100%);

box-shadow: 
0 2.8px 2.2px rgba(230, 221, 221, 0.034),
0 6.7px 5.3px rgba(198, 190, 190, 0.048),
0 12.5px 10px rgba(192, 170, 170, 0.06),
0 22.3px 17.9px rgba(0, 0, 0, 0.072),
0 41.8px 33.4px rgba(209, 192, 192, 0.086),
0 100px 80px rgba(0, 0, 0, 0.12)
;


}


#restart-btn{
  margin-top: 10px;
}

#main-container{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(88, 86, 86, 0.802) 0%, rgba(128,97,17,1) 35%, rgba(50,31,15,1) 100%);
  padding: 3.1em 1.8em;
  width: 90%;
  max-width: 70%;
  position: absolute;
  margin:0 auto;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 20px;
  box-shadow: 0px 0px 6px 5px rgb(45, 76, 255);
   
}

.header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 5px 0 5px 0;
margin-bottom: 45px;
border-bottom: 3px ridge rgb(8, 8, 5);
border-radius: 10px;
border-top: 3px ridge rgb(8, 8, 5);
font-size: x-large
}

.timer{
  color: rgb(0, 0, 0);
}

.timer-penaltie{
  color: red;
}

.question{
  margin:0 0 1.5em 0;
  font-weight: 700;
}

.choices-div{
margin: 0.4em 0;
padding: 1em;
width: 100%;
text-align: left;
outline: none;
background: transparent;
font-size: 0.9em;
border-radius: 0.4em;
border: 1.5px solid white;
}

.choices-div:disabled{
  color: #191714;
  cursor: not-allowed;
}

#next-btn{
  float: right;
  font-size: x-large;
  border-radius: 10px;
  margin-top: 1.5em;
  padding: 3px 10px;
  color: white;
  box-shadow: 0px 0px 6px 3px rgb(7, 182, 28);
  background: rgb(86,86,86);
  background: linear-gradient(90deg, rgba(86,86,86,0.9528405112044818) 0%, 
  rgba(40,40,39,1) 35%, rgba(35,35,35,0.7175463935574229) 100%);
}

.hide{
  display: none;
}

.wrong-answer{
  background-color: rgb(155, 147, 147);
  color: rgb(169, 46, 46);
  border-color: rgb(169, 46, 46);
}

.right-answer{
  background-color: rgb(155, 147, 147);
  color: rgb(64, 169, 46);
  border-color: rgb(46, 169, 60);
}

#gamer-score{
  color: white;
  font-size: large;
}

