*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-image: linear-gradient(315deg, #2234ae 0%, #191714 74%);
  font-family: monospace;
  font-size: x-large;
}

#wrapper {
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(88, 86, 86, 0.802) 0%, rgba(128,97,17,1) 35%, rgba(50,31,15,1) 100%);
  padding: 3.1em 1.8em;
  width: 90%;
  max-width: 70%;
  position: absolute;
  margin:0 auto;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 20px;
  box-shadow: 16px 0px 8px 7px rgba(23, 23, 23, 0.598);
  
}


#startTime {
  float: right;
  font-size: x-large;
  border-radius: 10px;
  margin-top: 1.5em;
  padding: 3px 10px;
  color: white;
  box-shadow:16px 0px 8px 7px rgba(23, 23, 23, 0.598); 
  background: rgba(86, 86, 86, 0.299);
  background: linear-gradient(90deg, rgba(22, 8, 84, 0.452) 0%, 
  rgba(40, 40, 39, 0.342) 35%, rgba(4, 3, 114, 0.435) 100%);
}

#questionsDiv {
  margin: 20px;
}

#currentTtime {
  float: right;
}

#goBack {
  float: right;
  font-size: x-large;
  border-radius: 10px;
  margin-top: 1.5em;
  padding: 3px 10px;
  color: white;
  box-shadow:16px 0px 8px 7px rgba(23, 23, 23, 0.598); 
  background: rgb(86,86,86);
  background: linear-gradient(90deg, rgba(86,86,86,0.9528405112044818) 0%, 
  rgba(40,40,39,1) 35%, rgba(35,35,35,0.7175463935574229) 100%);
}



#clear {
  float: right;
  font-size: x-large;
  border-radius: 10px;
  margin-top: 1.5em;
  padding: 3px 10px;
  color: white;
  box-shadow:16px 0px 8px 7px rgba(23, 23, 23, 0.598); 
  background: rgb(86,86,86);
  background: linear-gradient(90deg, rgba(86,86,86,0.9528405112044818) 0%, 
  rgba(40,40,39,1) 35%, rgba(35,35,35,0.7175463935574229) 100%);
  right: 5%;
  text-align: center;
}

button {
  border-radius: 8px;
}

textarea {
  width: 90%;
  margin: 20px;
}

#Submit {
  float: right;
  font-size: x-large;
  border-radius: 10px;
  margin-top: 1.5em;
  padding: 3px 10px;
  color: white;
  box-shadow:16px 0px 8px 7px rgba(23, 23, 23, 0.598); 
  transform: translate(-50% -50%);
  background: rgb(86,86,86);
  background: linear-gradient(90deg, rgba(86,86,86,0.9528405112044818) 0%, 
  rgba(40,40,39,1) 35%, rgba(35,35,35,0.7175463935574229) 100%);
}

label {
  margin-right: 10px;
}
input {
  margin-bottom: 20px;
  width: 50%;
  border: 3px ridge rgba(19, 17, 17, 0.853);
  background:transparent;
  border-radius: 15px;
  box-shadow: inset -77px -82px 68px 0px rgba(0,0,0,0.1);

}

input:hover{
  border-top: 0;
  border-bottom: 4px;
  background: linear-gradient(315deg, #818184 0%, #49443d 74%);
  height: 30px;
  border-radius: 15px;
  font-size: 20px;
  padding-left: 6px;
  box-shadow: inset -77px -82px 68px 0px rgba(0,0,0,0.1);


}

h1 {
  text-align: center;
  border-bottom: 3px ridge rgba(30, 29, 29, 0.843);
  border-radius: 14px;

}

li {
  background: transparent;
  border-style: ridge;
  border-color: #191714;
  border-radius: 10px;
  margin-top: 10px;
  padding: 5px 15px;
  width: 80%;
  font-size: 18px;
  color: rgb(3, 3, 3);
}

li:hover{
  background: linear-gradient(315deg, #2234ae 0%, #191714 74%);
  width: 50%;
}

#createDiv {
  margin-top: 20px;
  border-top: 1px solid lightgray;
}
